In [1]:
import pandas as pd
import numpy as np

data = pd.read_csv(filepath_or_buffer="../datasets/titanic/titanic3.csv", sep=",", dtype={"age":np.float32}, header=0 )
datos = pd.read_csv(filepath_or_buffer= "../datasets/customer-churn-model/Customer Churn Model.txt")
datos.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [ ]:
### Qué hacer con lo valores faltantes?

In [5]:
pd.isnull(data["body"]).values.ravel().sum()

1188

In [6]:
pd.notnull(data["body"]).values.ravel().sum()

121

In [9]:
data1 = data.dropna(axis=0, how="all") ## Elimina la fila en este caso, si todos los valores son NA
data1 = data.dropna(axis=0, how="any") ## Elimina la fila en este caso, si al menos uno de lo valores es NA
data1

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [12]:
data2 = data.fillna(0)
data2 = data.fillna("desconocido")
data2

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.338,B5,S,2,desconocido,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.55,C22 C26,S,11,desconocido,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.55,C22 C26,S,desconocido,desconocido,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.55,C22 C26,S,desconocido,135,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.55,C22 C26,S,desconocido,desconocido,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48,0,0,19952,26.55,E12,S,3,desconocido,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,10,desconocido,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39,0,0,112050,0,A36,S,desconocido,desconocido,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,D,desconocido,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71,0,0,PC 17609,49.5042,desconocido,C,desconocido,22,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47,1,0,PC 17757,227.525,C62 C64,C,desconocido,124,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18,1,0,PC 17757,227.525,C62 C64,C,4,desconocido,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,PC 17477,69.3,B35,C,9,desconocido,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26,0,0,19877,78.85,desconocido,S,6,desconocido,desconocido
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80,0,0,27042,30,A23,S,B,desconocido,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,desconocido,0,0,PC 17318,25.925,desconocido,S,desconocido,desconocido,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24,0,1,PC 17558,247.521,B58 B60,C,desconocido,desconocido,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50,0,1,PC 17558,247.521,B58 B60,C,6,desconocido,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32,0,0,11813,76.2917,D15,C,8,desconocido,desconocido
19,1,0,"Beattie, Mr. Thomson",male,36,0,0,13050,75.2417,C6,C,A,desconocido,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37,1,1,11751,52.5542,D35,S,5,desconocido,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47,1,1,11751,52.5542,D35,S,5,desconocido,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C,5,desconocido,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42,0,0,PC 17757,227.525,desconocido,C,4,desconocido,desconocido
24,1,1,"Bird, Miss. Ellen",female,29,0,0,PC 17483,221.779,C97,S,8,desconocido,desconocido
25,1,0,"Birnbaum, Mr. Jakob",male,25,0,0,13905,26,desconocido,C,desconocido,148,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25,1,0,11967,91.0792,B49,C,7,desconocido,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19,1,0,11967,91.0792,B49,C,7,desconocido,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35,0,0,PC 17760,135.633,C99,S,8,desconocido,desconocido
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28,0,0,110564,26.55,C52,S,D,desconocido,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,desconocido,S,desconocido,desconocido,desconocido
1280,3,0,"Vovk, Mr. Janko",male,22,0,0,349252,7.8958,desconocido,S,desconocido,desconocido,desconocido
1281,3,0,"Waelens, Mr. Achille",male,22,0,0,345767,9,desconocido,S,desconocido,desconocido,"Antwerp, Belgium / Stanton, OH"
1282,3,0,"Ware, Mr. Frederick",male,desconocido,0,0,359309,8.05,desconocido,S,desconocido,desconocido,desconocido
1283,3,0,"Warren, Mr. Charles William",male,desconocido,0,0,C.A. 49867,7.55,desconocido,S,desconocido,desconocido,desconocido
1284,3,0,"Webber, Mr. James",male,desconocido,0,0,SOTON/OQ 3101316,8.05,desconocido,S,desconocido,desconocido,desconocido
1285,3,0,"Wenzel, Mr. Linhart",male,32.5,0,0,345775,9.5,desconocido,S,desconocido,298,desconocido
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38,0,0,2688,7.2292,desconocido,C,C,desconocido,desconocido
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51,0,0,347064,7.75,desconocido,S,desconocido,desconocido,desconocido
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18,1,0,3101267,6.4958,desconocido,S,desconocido,314,desconocido
1289,3,0,"Wiklund, Mr. Karl Johan",male,21,1,0,3101266,6.4958,desconocido,S,desconocido,desconocido,desconocido
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7,desconocido,S,desconocido,desconocido,desconocido
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,desconocido,0,0,3410,8.7125,desconocido,S,desconocido,desconocido,desconocido
1292,3,0,"Willey, Mr. Edward",male,desconocido,0,0,S.O./P.P. 751,7.55,desconocido,S,desconocido,desconocido,desconocido
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,desconocido,0,0,A/5 2466,8.05,desconocido,S,desconocido,desconocido,desconocido
1294,3,0,"Williams, Mr. Leslie",male,28.5,0,0,54636,16.1,desconocido,S,desconocido,14,desconocido
1295,3,0,"Windelov, Mr. Einar",male,21,0,0,SOTON/OQ 3101317,7.25,desconocido,S,desconocido,desconocido,desconocido
1296,3,0,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,desconocido,S,desconocido,131,desconocido
1297,3,0,"Wiseman, Mr. Phillippe",male,desconocido,0,0,A/4. 34244,7.25,desconocido,S,desconocido,desconocido,desconocido
1298,3,0,"Wittevrongel, Mr. Camille",male,36,0,0,345771,9.5,desconocido,S,desconocido,desconocido,desconocido
1299,3,0,"Yasbeck, Mr. Antoni",male,27,1,0,2659,14.4542,desconocido,C,C,desconocido,desconocido
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,desconocido,C,desconocido,desconocido,desconocido
1301,3,0,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,desconocido,C,desconocido,312,desconocido
1302,3,0,"Yousif, Mr. Wazli",male,desconocido,0,0,2647,7.225,desconocido,C,desconocido,desconocido,desconocido
1303,3,0,"Yousseff, Mr. Gerious",male,desconocido,0,0,2627,14.4583,desconocido,C,desconocido,desconocido,desconocido
1304,3,0,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,desconocido,C,desconocido,328,desconocido
1305,3,0,"Zabour, Miss. Thamine",female,desconocido,1,0,2665,14.4542,desconocido,C,desconocido,desconocido,desconocido
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,desconocido,C,desconocido,304,desconocido
1307,3,0,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.225,desconocido,C,desconocido,desconocido,desconocido
1308,3,0,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.875,desconocido,S,desconocido,desconocido,desconocido

In [15]:
data3 = data
data3["body"] = data3["body"].fillna(0) ## se cambia por un valor constante
data3["home.dest"] = data3["home.dest"].fillna("Desconocido")
data3

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,0.0,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,0.0,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,0.0,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,0.0,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,0.0,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,0.0,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,0.0,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,0.0,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,0.0,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,0.0,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.0000,0,0,19877,78.8500,NaN,S,6,0.0,Desconocido
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,0.0,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,0.0,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,0.0,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,0.0,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,0.0,Desconocido
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,0.0,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.0000,1,1,11751,52.5542,D35,S,5,0.0,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0000,1,1,11751,52.5542,D35,S,5,0.0,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.0000,0,0,111369,30.0000,C148,C,5,0.0,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.0000,0,0,PC 17757,227.5250,NaN,C,4,0.0,Desconocido
24,1,1,"Bird, Miss. Ellen",female,29.0000,0,0,PC 17483,221.7792,C97,S,8,0.0,Desconocido
25,1,0,"Birnbaum, Mr. Jakob",male,25.0000,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.0000,1,0,11967,91.0792,B49,C,7,0.0,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.0000,1,0,11967,91.0792,B49,C,7,0.0,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.0000,0,0,PC 17760,135.6333,C99,S,8,0.0,Desconocido
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,0.0,"Stockholm, Sweden / Washington, DC"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,3,0,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0000,0,0,350406,7.8542,NaN,S,NaN,0.0,Desconocido
1280,3,0,"Vovk, Mr. Janko",male,22.0000,0,0,349252,7.8958,NaN,S,NaN,0.0,Desconocido
1281,3,0,"Waelens, Mr. Achille",male,22.0000,0,0,345767,9.0000,NaN,S,NaN,0.0,"Antwerp, Belgium / Stanton, OH"
1282,3,0,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,NaN,0.0,Desconocido
1283,3,0,"Warren, Mr. Charles William",male,NaN,0,0,C.A. 49867,7.5500,NaN,S,NaN,0.0,Desconocido
1284,3,0,"Webber, Mr. James",male,NaN,0,0,SOTON/OQ 3101316,8.0500,NaN,S,NaN,0.0,Desconocido
1285,3,0,"Wenzel, Mr. Linhart",male,32.5000,0,0,345775,9.5000,NaN,S,NaN,298.0,Desconocido
1286,3,1,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0000,0,0,2688,7.2292,NaN,C,C,0.0,Desconocido
1287,3,0,"Widegren, Mr. Carl/Charles Peter",male,51.0000,0,0,347064,7.7500,NaN,S,NaN,0.0,Desconocido
1288,3,0,"Wiklund, Mr. Jakob Alfred",male,18.0000,1,0,3101267,6.4958,NaN,S,NaN,314.0,Desconocido
1289,3,0,"Wiklund, Mr. Karl Johan",male,21.0000,1,0,3101266,6.4958,NaN,S,NaN,0.0,Desconocido
1290,3,1,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,NaN,0.0,Desconocido
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,0.0,Desconocido
1292,3,0,"Willey, Mr. Edward",male,NaN,0,0,S.O./P.P. 751,7.5500,NaN,S,NaN,0.0,Desconocido
1293,3,0,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,NaN,0.0,Desconocido
1294,3,0,"Williams, Mr. Leslie",male,28.5000,0,0,54636,16.1000,NaN,S,NaN,14.0,Desconocido
1295,3,0,"Windelov, Mr. Einar",male,21.0000,0,0,SOTON/OQ 3101317,7.2500,NaN,S,NaN,0.0,Desconocido
1296,3,0,"Wirz, Mr. Albert",male,27.0000,0,0,315154,8.6625,NaN,S,NaN,131.0,Desconocido
1297,3,0,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,NaN,0.0,Desconocido
1298,3,0,"Wittevrongel, Mr. Camille",male,36.0000,0,0,345771,9.5000,NaN,S,NaN,0.0,Desconocido
1299,3,0,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,C,0.0,Desconocido
1300,3,1,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,NaN,0.0,Desconocido
1301,3,0,"Youseff, Mr. Gerious",male,45.5000,0,0,2628,7.2250,NaN,C,NaN,312.0,Desconocido
1302,3,0,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,NaN,0.0,Desconocido
1303,3,0,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,NaN,0.0,Desconocido
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,Desconocido
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,0.0,Desconocido
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,Desconocido
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,0.0,Desconocido
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,0.0,Desconocido

In [17]:
data4 = data
data4 = data4["age"].fillna(data["age"].mean())
data4

0       29.000000
1        0.916700
2        2.000000
3       30.000000
4       25.000000
5       48.000000
6       63.000000
7       39.000000
8       53.000000
9       71.000000
10      47.000000
11      18.000000
12      24.000000
13      26.000000
14      80.000000
15      29.881136
16      24.000000
17      50.000000
18      32.000000
19      36.000000
20      37.000000
21      47.000000
22      26.000000
23      42.000000
24      29.000000
25      25.000000
26      25.000000
27      19.000000
28      35.000000
29      28.000000
          ...
1279    14.000000
1280    22.000000
1281    22.000000
1282    29.881136
1283    29.881136
1284    29.881136
1285    32.500000
1286    38.000000
1287    51.000000
1288    18.000000
1289    21.000000
1290    47.000000
1291    29.881136
1292    29.881136
1293    29.881136
1294    28.500000
1295    21.000000
1296    27.000000
1297    29.881136
1298    36.000000
1299    27.000000
1300    15.000000
1301    45.500000
1302    29.881136
1303    29.881136
1304    14.500000
1305    29.881136
1306    26.500000
1307    27.000000
1308    29.000000
Name: age, Length: 1309, dtype: float32

In [ ]:
###otro inputación
data5 = data5["age"].fillna(method="ffill") ## forward